@using LinhKienMayTinh.Models;
@model List<LOAISP>

@foreach(var item in Model)
{
    
    <li><a href="@Url.Action("SPTheoLoai","TrangChu", new {id = item.MALOAI })"><i class="fa fa-angle-right" aria-hidden="true"></i>@item.TENLOAI</a></li>
}