@using LinhKienMayTinh.Models;
@model List<LOAISP>

@foreach(var item in Model)
{
    
    <li><a href="/san-pham-theo-loai/@item.URL-@item.MALOAI"><i class="fa fa-angle-right" aria-hidden="true"></i>@item.TENLOAI</a></li>
}