
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Đăng Nhập Trang Quản Trị</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Easy Simple Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="/Areas/Admin/Content/DangNhap/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    
</head>
<body>
    <!-- main -->
    <div class="main">
        <h1>Đăng Nhập Trang Quản Trị</h1>
        <div class="main-row">
            <div class="agileits-top">
                <p style="color:red;font-weight:bold;font-size:15px;">@ViewBag.ThongBao</p>
                @using (Html.BeginForm())
                { 
                    <input class="text" type="text" name="USERNAME" placeholder="Tài Khoản" required>
                    <input class="text" type="password" name="PASS" placeholder="Mật Khẩu" required>
                    <input type="submit" value="Đăng Nhập Trang Quản Trị">
                }
                
            </div>
        </div>
        
    </div>
    <!-- //main -->
</body>
</html>

